  .price-wrapper .current-price {
    color: #4E74FC;
    font-size: 18px;
    margin-bottom: 0;
    margin-right: 10px;
  }


  .cart-list .dz-meta li {
        display: inline-flex;
        align-items: center;
        gap: 10px; }


  .dz-card .dz-meta li {
        display: inline-flex;
        align-items: center;
        gap: 10px; }      


  