.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2c3e5099;
}

.clock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
}

.clock-item {
  margin: 10px;
  width: 200px;
}

.wrap {
  position: relative;
}

.clock-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.val {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.type-time {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}
